@use 'variables' as *;

@mixin glow-effect($color) {
    box-shadow: 0 0 15px rgba($color, 0.4);

    &:hover {
        box-shadow: 0 0 25px rgba($color, 0.6);
        transform: translateY(-2px);
    }
}

.cta-button {
    background-color: $accent-orange;
    color: $text-white;
    border-radius: $radius-main;
    transition: $transition;
    @include glow-effect($accent-orange); // Викликаємо міксин
}